@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right top,
    #8492ed,
    #c176d8,
    #ed52a8,
    #fd3a65,
    #eb4b12
  );
  padding: 10px 25px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  background: url("./images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}

button:hover {
  cursor: pointer;
}
input {
  border: 0;
}
button:focus,
input:focus,
select:focus {
  outline: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}

.form {
  width: 500px;
  height: auto;
  color: white;
  border-radius: 0px;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 157, 255, 0.092);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
  padding: 20px;
}

.form-control {
  justify-content: space-between;
  padding: 0 0 30px;
}
.form-control label {
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.form-control input,
select {
  font-size: 1.2em;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
  color: #333;
}
.form-control select {
  width: 65%;
  justify-items: flex-start;
}
.sbm_btn {
  margin-top: 20px;
  font-size: 1.2em;
  padding: 5px 10px;
  width: 100%;
  background: rgb(171, 226, 43);
}
